<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d5175abfe644b6b46213bc4c86d82893 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_d5175abfe644b6b46213bc4c86d82893" ></div>
        
</body>
<script>
    
    
            var map_d5175abfe644b6b46213bc4c86d82893 = L.map(
                "map_d5175abfe644b6b46213bc4c86d82893",
                {
                    center: [51.5285582, -0.2416815],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 14,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_9b81b52ffb57ebc82b77a7150f86974b = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_9b81b52ffb57ebc82b77a7150f86974b.addTo(map_d5175abfe644b6b46213bc4c86d82893);
        
    
            var circle_89958893e4fbca87eed8276a1585a665 = L.circle(
                [51.5285582, -0.2416815],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_d5175abfe644b6b46213bc4c86d82893);
        
    
        var popup_d45dd061df8f2ccaa838e24d120fc04e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_afba01854ae584cf74b7874a3027f702 = $(`<div id="html_afba01854ae584cf74b7874a3027f702" style="width: 100.0%; height: 100.0%;">Search radius：2.0 km</div>`)[0];
                popup_d45dd061df8f2ccaa838e24d120fc04e.setContent(html_afba01854ae584cf74b7874a3027f702);
            
        

        circle_89958893e4fbca87eed8276a1585a665.bindPopup(popup_d45dd061df8f2ccaa838e24d120fc04e)
        ;

        
    
    
            var marker_cluster_9f96733b379aeb9c6942f6f80f44df83 = L.markerClusterGroup(
                {
}
            );
        
    
            marker_cluster_9f96733b379aeb9c6942f6f80f44df83.addTo(map_d5175abfe644b6b46213bc4c86d82893);
        
</script>
</html>