<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1dd4f9beaa7ed1aa1aa81157300952a9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_1dd4f9beaa7ed1aa1aa81157300952a9" ></div>
        
</body>
<script>
    
    
            var map_1dd4f9beaa7ed1aa1aa81157300952a9 = L.map(
                "map_1dd4f9beaa7ed1aa1aa81157300952a9",
                {
                    center: [-29.4844624, 151.6580014],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 14,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_ead31c3ab3cad9f897d59b91b969d593 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_ead31c3ab3cad9f897d59b91b969d593.addTo(map_1dd4f9beaa7ed1aa1aa81157300952a9);
        
    
            var circle_cfcde14172ea93b3ba191e51cac017d3 = L.circle(
                [-29.4844624, 151.6580014],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_1dd4f9beaa7ed1aa1aa81157300952a9);
        
    
        var popup_a255977835e2f30d039c960723d43c97 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3c99e8595989bba19343ccaaa5be8bfa = $(`<div id="html_3c99e8595989bba19343ccaaa5be8bfa" style="width: 100.0%; height: 100.0%;">Search radius：2.0 km</div>`)[0];
                popup_a255977835e2f30d039c960723d43c97.setContent(html_3c99e8595989bba19343ccaaa5be8bfa);
            
        

        circle_cfcde14172ea93b3ba191e51cac017d3.bindPopup(popup_a255977835e2f30d039c960723d43c97)
        ;

        
    
    
            var marker_cluster_36a586eff65bc2ec2ebc51e225335743 = L.markerClusterGroup(
                {
}
            );
        
    
            var marker_1859bd162f5094a23589810517c6b71c = L.marker(
                [-29.4844624, 151.6580014],
                {
}
            ).addTo(marker_cluster_36a586eff65bc2ec2ebc51e225335743);
        
    
        var popup_5385ec7f03e42118a4f1aff6fea91e6f = L.popup({
  "maxWidth": 300,
});

        
            
                var html_777cab5d94915de2d2b1db899e7258e9 = $(`<div id="html_777cab5d94915de2d2b1db899e7258e9" style="width: 100.0%; height: 100.0%;">         <b>Description：</b> kms ss<br>         <b>Address：</b> big ben<br>         <b>Distance：</b> 0.00 km         <br><img src="http://127.0.0.1:5000/uploads/2501.png" width="150"></div>`)[0];
                popup_5385ec7f03e42118a4f1aff6fea91e6f.setContent(html_777cab5d94915de2d2b1db899e7258e9);
            
        

        marker_1859bd162f5094a23589810517c6b71c.bindPopup(popup_5385ec7f03e42118a4f1aff6fea91e6f)
        ;

        
    
    
            marker_1859bd162f5094a23589810517c6b71c.bindTooltip(
                `<div>
                     Click for details (0.00 km)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            marker_cluster_36a586eff65bc2ec2ebc51e225335743.addTo(map_1dd4f9beaa7ed1aa1aa81157300952a9);
        
</script>
</html>